body {
  background:blue;
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  padding: 50px;
  color:green;
}

.container {
  background: white;
  border-radius: 15px;
  padding: 40px;
  max-width: 500px;
  margin: auto;
  box-shadow: 0 0 30px rgba(0,0,0,0.2);
}

textarea {
  width: 100%;
  font-size: 16px;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #aaa;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  background-color:orange;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color:pink;
}

#countdown {
  margin-top: 30px;
  font-size: 20px;
  font-weight: bold;
}

#revealMessage {
  margin-top: 30px;
  padding: 20px;
  background:yellow;
  border-radius: 12px;
  font-size: 18px;
  transition: opacity 1s ease;
}

.hidden {
  display: none;
}
